# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Output directories
dist/
build/
coverage/

# Debugging and OS-specific files
.DS_Store
Thumbs.db

# IDE specific files
.vscode/
.idea/

# Temporary files and build artifacts
tmp/
temp/
*.tmp
*.temp

# Optional npm cache directory
.npm/

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Other configurations
*.tsbuildinfo
