<% layout('./layouts/boilerplate.ejs') %>

 <div class="game">
        <h1><%= game[0].name %></h1>
        <img src="<%= game[0].cover ? `https://images.igdb.com/igdb/image/upload/t_${imageSize}/${game[0].cover.image_id}.jpg` : 'https://i.ytimg.com/vi/m8i5JuwI_V0/hqdefault.jpg' %>" alt="<%= game.name %>">
    </div>