<% layout('./layouts/boilerplate.ejs') %>

 <div class="game">
        <h1><%= game.name %></h1>
        <img src="<%= game[0].cover ? game[0].cover.url : 'https://i.ytimg.com/vi/m8i5JuwI_V0/hqdefault.jpg' %>" alt="<%= game.name %>">
    </div>